body{
    text-align: center;
    padding: 1em;
}

#layout {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: flex; 
    width: a;
}
#layout2 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: inline-flex; 
}

#layout3 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: inline-flex; 
    flex-direction: row;
}
#layout4 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: inline-flex; 
    flex-direction: row-reverse;
}
#layout5 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: inline-flex; 
    flex-direction: column;
}
#layout6 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: inline-flex; 
    flex-direction: column-reverse;
}
#layout7 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
}
#layout8 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}
h2{
    text-align: left;
}
.caja2 {
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 4px solid darkblue;
    margin: 10px;
    background-color: antiquewhite;
    color: white;
}
.caja {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 4px solid darkblue;
    margin: 10px;
    background-color: antiquewhite;
    color: white;
}

.red{
    background-color: red;
}

.green {
    background-color: green;
}


.blue {
    background-color: blue;
}

.violet {
    background-color: blueviolet;
}

.red{
    background-color: red;
}

.redOrder{
    order: 1;
    background-color: red;
}
.redGrow{
    flex-grow: 5;
    background-color: red;
}
.greenOrder {
    order: -1;
    background-color: green;
}

/* CLASE 2 */

#layout9 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: inline-flex;
    flex-flow: flex wrap;
}

#layout10 {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}


